.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  margin-top: 20px;
  background-color: rgb(62, 168, 255);
  border-radius: 4px;
  box-shadow: 0 2px 4px -2px #21253840;
  color: #fff;
  &::before {
    content: '◀︎';
    margin: 0 10px 0 -10px;
    color: #fff;
  }
}