.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  max-width: 1100px;
  margin-bottom: 40px;
  padding: 0 40px;
  background-color: #fff;
  .title {
    margin: 0;
  }
}