.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  li {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(92, 147, 187, 0.2);
    color: #77838c;
    &.active {
      border: 1px solid #333;
      color: #333;
    }
  }
}